html,body {
	height: 100%
}
textarea {
	resize: none
}
body {
	width: 100%;
	font-family: "Helvetica Neue","Microsoft YaHei","å¾®è½¯é›…é»‘",STHeiti,"WenQuanYi Micro Hei",SimSun,Arial,Helvetica,sans-serif;
	margin: 0;
	background: #f2f2f2;
	color: #333;
	font-size: 12px;
	position: relative
}
a,a:hover,a:visited {
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	color: #333
}
a:hover {
	text-decoration: underline
}
ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none
}

#header{
  width: 100%;
  min-width: 1146px;
  background: #fff;
  height: 94px;
  color: #000;
  border-bottom: 1px solid #dfdfdf;
}
#header-nav{
  margin: 0 auto;
  height: 94px;
  width: 1142px;
}
#header-nav .logo{
  display: block;
    float: left;
    width: 140px;
    height: 94px;
    line-height: 94px;
}
#header-nav .logo>img{
    margin-top: -12px;
    height: 100px;
  vertical-align: middle;
}
#header-nav ul{
  display: block;
  margin-top: 33px;
  margin-left: 250px;
  float: left;
}
#header-nav li{
  float: left;
  display: block;
  list-style: none;
  border-bottom: 2px solid transparent;
  padding: 0 22px;
}
#header-nav li a{
  display: block;
  height: 40px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin: 0 2px;
  font-weight: 400;
  text-align: center
}
#header-nav .active a{
  color: #0047ff;
  border-bottom: 2px solid #0047ff;
}
#wrapper {
	position: relative;
  background: #ffdbb7 url(../images/bg.jpg) no-repeat top center;
  background-size: 2540px auto;
  padding-top: 130px;
  min-height: 1200px;
}
.wrapper-content {
	margin: 0 auto;
	padding-bottom: 180px;
	width: 1142px;
	overflow:hidden;
}
.wrapper-content .wrapper-left{
	float: left;
	width: 774px
}
.wrapper-content .mod {
	// margin-top: 20px;
	width: 100%;
	background: #fff
}
.carousel {
	margin-bottom:20px;
}
.carousel-inner .item img {
	width:100%;
	height:340px;
}
.carousel-caption{
	  position: absolute;
    background: rgba(0,0,0,0.4);
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    text-align: left;
    padding: 0 15px;
    line-height: 50px;
    font-size: 16px;
}
.carousel-indicators{
	bottom: 3px;
  text-align: right;
  right: 20px;
  left: inherit;
}
.wrapper-content .text-limit {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.wrapper-content .text-light {
	color: #26f
}
.wrapper-content .gt-blue {
	background: url(../images/icon-gt-blue.png) no-repeat
}
.wrapper-content .gt-grey {
	background: url(../images/icon-gt-grey.png) no-repeat
}
.wrapper-content .gt-grey:hover {
	background-position: right -30px;
	border-bottom: #999 1px solid
}
.title {
	font-size: 20px;
	line-height: 20px
}
.articles .article-info {
	padding: 20px 0;
	border-bottom: #eaeaea solid 1px
}
.articles .article-info:before,.articles .article-info:after {
	content: " ";
	display: table
}
.articles .article-info:after {
	clear: both
}
.articles .article-list-title {
	height: 58px;
	line-height: 58px;
	font-size: 20px;
	text-indent: 20px;
	border-bottom: #f2f2f2 solid 1px
}
.articles .article-list {
	padding: 20px;
	margin-top: 0
}
.articles .article-list.list-title {
	padding-top: 0
}
.articles .article-list .article-info:first-child {
	padding-top: 0
}
.articles .article-list .article-info:last-child {
	padding-bottom: 0;
	border-bottom: 0 none
}
.articles .article-list .noarticles {
	padding: 0
}
.articles .art-img {
	float: left;
	width: 180px;
	height: 120px;
	background: #f5f5f5;
	overflow: hidden;
	position: relative
}
.articles .art-img img {
	width: 180px;
	height: 120px
}
.articles .art-img .art-video {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: rgba(255,255,255,.6) solid 3px;
	background-color: rgba(0,0,0,.4)
}
.articles .art-img .art-video p {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -5px;
	margin-top: -11px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff
}
.articles .art-info {
	float: left;
	margin-left: 20px;
	position: relative;
	width: 500px;
	height: 120px
}
.articles .art-info .title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 26px;
	margin-bottom: 15px;
	margin-top: 34px
}
.articles .cont-short {
	margin-top: 18px;
	color: #999;
	font-size: 16px;
	line-height: 24px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	word-wrap: break-word;
	overflow: hidden
}
.pictures {
	padding: 20px 0;
	border-bottom: #eaeaea solid 1px
}
.pictures:first-child {
	padding-top: 0
}
.pictures .picture-list {
	margin-top: 16px;
	width: 734px;
	height: 120px
}
.pictures .picture-list p {
	float: left;
	width: 180px;
	height: 120px;
	background: #f5f5f5
}
.pictures .picture-list p:nth-child(n+2) {
	margin-left: 4px
}
.pictures .picture-list .picture-more {
	background: #e8e8e8
}
.pictures .picture-list .picture-more a {
	display: block;
	width: 180px;
	height: 120px;
	text-decoration: none;
	font-size: 16px;
	color: #acacac;
	text-align: center;
	line-height: 120px
}
.pictures .picture-list .picture-more a:hover {
	background-color: #c6c6c6
}
.pictures .picture-list img {
	width: 180px;
	height: 120px
}
.list-title .pictures:first-child {
	padding-top: 20px
}
.more {
	height: 46px;
	line-height: 46px;
	text-align: center
}
.more span {
	cursor: pointer;
	line-height: 46px;
	font-size: 18px
}
.more .more-author {
	padding-right: 14px;
	background-position: right 0;
	-webkit-background-size: 14px 35px;
	background-size: 14px 35px
}
.more .more-author:hover {
	background-position: right -21px
}








.warpper-right {
	float: right;
	width: 344px;
	overflow: hidden
}
.scroll-bar::-webkit-scrollbar {
	width: 14px;
	height: 14px
}

.scroll-bar::-webkit-scrollbar-track,.scroll-bar::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent
}

.scroll-bar::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset
}

.scroll-bar::-webkit-scrollbar-thumb {
	min-height: 20px;
	background-clip: content-box;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset
}

.scroll-bar::-webkit-scrollbar-corner {
	background: transparent
}

.warpper-right .mod>.title {
	position: relative;
	height: 58px;
	line-height: 58px;
	background-color: #fbfbfb;
	font-size: 20px;
	text-indent: 20px;
	border-bottom: #f2f2f2 solid 1px
}

.warpper-right .mod>.title .more {
	position: absolute;
	top: 8px;
	right: 20px;
	color: #8e8e8e;
	font-size: 12px
}

.warpper-right .mod>.title .more span {
	font-family: sans-serif,'宋体',Helvetica,Arial;
	font-weight: 700
}

.warpper-right .mod>.title .more a {
	color: #999
}

.warpper-right .article-top {
	height:340px;
	font-size: 16px
}

.warpper-right .article-top .top-types {
	height: 42px;
	line-height: 42px
}

.warpper-right .article-top .top-types:before,.warpper-right .article-top .top-types:after {
	content: " ";
	display: table
}

.warpper-right .article-top .top-types:after {
	clear: both
}

.warpper-right .article-top .top-types li {
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer
}

.warpper-right .article-top .top-types li.current {
	border-bottom: #1b64f8 solid 2px
}

.warpper-right .article-top .top-cont {
	padding: 0 20px
}

.warpper-right .article-top .top-list {
	padding-bottom: 20px;
	display: none
}

.warpper-right .article-top .top-list.current {
	display: block
}

.warpper-right .article-top .top-item {
	position: relative;
	margin-top: 24px
}

.warpper-right .article-top .top-item .num {
	position: absolute;
	width: 20px;
	height: 24px;
	background: url(../images/right_top_num.png) no-repeat;
	line-height: 24px;
	text-align: center
}

.warpper-right .article-top .top-item .num.num-1 {
	background-position: 0 5px;
	color: #fff;
	background-color: #ff6360
}

.warpper-right .article-top .top-item .num.num-2 {
	background-position: 0 -42px
}

.warpper-right .article-top .top-item .num.num-3 {
	background-position: 0 -89px
}

.warpper-right .article-top .top-item .num.num-4 {
	background-position: 0 -136px
}

.warpper-right .article-top .top-item .num.num-5 {
	background-position: 0 -180px
}

.warpper-right .article-top .top-item .num.num-6 {
	background-position: 0 -227px
}

.warpper-right .article-top .top-item .num.num-7 {
	background-position: 0 -274px
}

.warpper-right .article-top .top-item .num.num-8 {
	background-position: 0 -320px
}

.warpper-right .article-top .top-item .num.num-9 {
	background-position: 0 -367px
}

.warpper-right .article-top .top-item .num.num-10 {
	background-position: 0 -413px
}

.warpper-right .article-top .top-item .info {
	position: relative;
	margin-left: 35px
}

.warpper-right .article-top .top-item .art-cont {
	color: #999
}

.warpper-right .article-top .top-item .top-art-title {
	font-size: 20px
}

.warpper-right .article-top .top-item .top-art-light {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden
}

.warpper-right .article-top .top-item .art-cont {
	font-size: 16px
}

.warpper-right .article-top .top-item .art-title {
	padding-right: 78px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.warpper-right .article-top .top-item .tag {
	position: absolute;
	width: 74px;
	display: block;
	height: 18px;
	overflow: hidden;
	text-align: right;
	top: 3px;
	right: 0;
	font-size: 14px;
	color: #999
}

.warpper-right .article-top .top-item .tag a {
	color: #999
}

.warpper-right .notice {
	margin-top: 20px;
	width: 345px;
	height: 160px
}

.warpper-right .notice img {
	width: 100%;
	height: 100%
}

.warpper-right .right-mod {
	padding: 20px
}

.warpper-right .right-mod li:first-child {
	margin-top: 0
}

.warpper-right .hot-comment .comment-box {
	position: relative;
	height: 546px;
	overflow: hidden
}

.warpper-right .hot-comment .comment-list {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	overflow: hidden
}

.warpper-right .hot-comment li.comment-item {
	position: relative
}

.warpper-right .hot-comment .head {
	position: absolute;
	left: 0;
	width: 30px;
	height: 30px
}

.warpper-right .hot-comment .head img {
	width: 30px;
	height: 30px;
	border-radius: 15px
}

.warpper-right .hot-comment .cont {
	margin-left: 42px
}

.warpper-right .hot-comment .cont .author:before,.warpper-right .hot-comment .cont .author:after {
	content: " ";
	display: table
}

.warpper-right .hot-comment .cont .author:after {
	clear: both
}

.warpper-right .hot-comment .cont .author p {
	float: left;
	font-size: 20px
}

.warpper-right .hot-comment .cont .comment-topic {
	font-size: 16px
}

.warpper-right .hot-comment .cont .comment-topic a {
	color: #999
}

.warpper-right .hot-comment .cont .date {
	float: right;
	color: #999
}

.warpper-right .hot-comment .cont .source {
	margin-top: 10px
}

.warpper-right .hot-comment .cont .source,.warpper-right .hot-comment .cont .source a {
	color: #999
}

.warpper-right .author-list li {
	margin-top: 30px
}

.warpper-right .author-list li:before,.warpper-right .author-list li:after {
	content: " ";
	display: table
}

.warpper-right .author-list li:after {
	clear: both
}

.warpper-right .author-list .head {
	float: left;
	width: 50px;
	height: 50px
}

.warpper-right .author-list .head img {
	width: 50px;
	height: 50px;
	border-radius: 25px
}

.warpper-right .author-list .info {
	float: left;
	margin-left: 18px;
	width: 212px
}

.warpper-right .author-list .info .author-name {
	font-size: 16px
}

.warpper-right .author-list .info .sign {
	color: #999
}

.warpper-right .author-list .info .level-none {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/index_level.png) 0 1px no-repeat
}

.warpper-right .author-similar .title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.warpper-right .author-similar .head {
	width: 70px;
	height: 70px
}

.warpper-right .author-similar .head img {
	width: 70px;
	height: 70px;
	border-radius: 35px
}

.warpper-right .author-similar .author-name {
	margin-bottom: 4px
}

.warpper-right .author-similar .news {
	width: 212px
}

.warpper-right .hot-tags .tags-list li {
	position: relative
}

.warpper-right .hot-tags .tags-list .tag-name {
	position: absolute;
	padding: 4px 6px;
	border: #e5e5e5 solid 1px;
	border-radius: 3px
}

.warpper-right .hot-tags .tags-list .tag-name a {
	color: #0090ff
}

.warpper-right .hot-tags .tags-list .tag-topic {
	margin-left: 54px;
	line-height: 30px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.scroll-bar::-webkit-scrollbar {
	width: 15px;
	background-color: #fff
}

.scroll-bar::-webkit-scrollbar-thumb {
	border-radius: 12px;
	width: 15px;
	min-height: 20px
}

.scroll-bar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #fff;
	border-radius: 10px
}

.scroll-bar::-webkit-scrollbar-corner {
	background: transparent
}


.warpper-footer {
	position: absolute;
	width: 100%;
	height: 160px;
	border-top: #e0d7d8 solid 1px;
	background: #fff;
	bottom: 0;
	text-align: center
}

.warpper-footer .footer-content {
	padding-top: 45px
}

.warpper-footer p {
	line-height: 20px
}

.warpper-footer .relate {
	padding-right: 30px
}

.warpper-footer .tag {
	padding: 0 30px
}

.warpper-footer .links {
	margin-bottom: 28px;
	font-size: 16px
}
.article{
	background:#fff;
}
.article .article-info .title{
	margin: 0;
    padding: 28px 25px 0;
    font-size: 26px;
    color: #333;
    line-height: 1.5em;
}

.article .article-info .other-info{
    margin: 25px 25px 0;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 25px;
}

.article .article-info .other-info .author {
    font-size: 16px;
    color: #333;
    padding-right: 20px;
}
.article .article-info  .other-info .time {
    border-left: 1px solid #333;
}
.article .article-info .other-info .data {
    border-left: 1px solid #333;
}
.article .article-info .other-info .time, .article .article-info .other-info .data {
    font-size: 16px;
    color: #999;
    padding: 0 20px;
}
.article .article-content {
    padding: 25px;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}
.article .article-content  .abstract {
    color: #999;
    margin-bottom: 30px;
}
.article .article-content p {
    margin-top: 10px;
}
.article .article-content p img {
    max-width: 90%;
    display: block;
    margin: 20px auto;
}

.article .article-content .rights {
    margin-top: 40px;
}
.article .article-content .rights .rights-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}
.article .article-content .rights .instructions {
    font-size: 14px;
    color: #999;
}
